{% extends "layout.html" %}
{% block content %}
    <h3 id="agendasemanal">Agenda Semanal</h3>

    <table>
        <tr>
            <th>- </th>
            <th>Segunda </th>
            <th>Terça </th>
            <th>Quarta </th>
            <th>Quinta </th>
            <th>Sexta </th>
            <th>Sábado </th>
            <th>Domingo </th>
        </tr>
        <tr>
            <td>08:00 </td>
            <td>José </td>
            <td>José </td>
            <td>José </td>
            <td>José </td>
            <td>José </td>
            <td>José </td>
            <td>José </td>
        </tr>
        <tr>
            <td>08:15</td>
            <td>Mária</td>
        </tr>
        <tr>
            <td>09:30</td>
            <td>-</td>
            <td>João</td>
        </tr>
        <tr>
            <td>09:45</td>
            <td>-</td>
            <td>Ana</td>
        </tr>
    </table>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Segunda - 03/08</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><strong>08:00</strong> : José</li>

                <li><strong>08:15</strong>: Mária</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Terça - 05/08</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><strong>09:30</strong> : Caio</li>

                <li><strong>09:45</strong>: Marcelo</li>
            </ul>
        </div>
    </div>
{% endblock content %}
