{% extends "layout.html" %}
{% block content %}
<h1 class="page-header">Cadastar colaborador</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <p class="text-right">
                <small>(*) Informações obrigatórias.</small>
            </p>

            <fieldset>
                <legend><h4>Informações pessoais</h4></legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {{ form.email(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {{ form.password(class="form-control")}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.crm.label(class="form-control-label") }}
                            {{ form.crm(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.fullname.label(class="form-control-label") }}
                            {{ form.fullname(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.birthdate.label(class="form-control-label") }}
                            {{ form.birthdate(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.birthcity.label(class="form-control-label") }}
                            {{ form.birthcity(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.birthstate.label(class="form-control-label") }}
                            {{ form.birthstate(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            {{ form.rg.label(class="form-control-label") }}
                            {{ form.rg(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            {{ form.cpf.label(class="form-control-label") }}
                            {{ form.cpf(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.cep.label(class="form-control-label") }}
                            {{ form.cep(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.place.label(class="form-control-label") }}
                            {{ form.place(class="form-control") }}
                        </select></div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.residence_address.label(class="form-control-label") }}
                            {{ form.residence_address(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.neighborhood.label(class="form-control-label") }}
                            {{ form.neighborhood(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.city.label(class="form-control-label") }}
                            {{ form.city(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.state.label(class="form-control-label") }}
                            {{ form.state(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.phone_1.label(class="form-control-label") }}
                            {{ form.phone_1(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.phone_2.label(class="form-control-label") }}
                            {{ form.phone_2(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        {{ form.specialty.label(class="form-control-label") }}
                        {{ form.specialty(class="form-control") }}
                    </div>
                </div>

            </fieldset>
            <!--FIM INFO PESSOAIS-->
            <br>

            <fieldset>
                <legend><h4>Informações da clínica</h4></legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.business_name.label(class="form-control-label") }}
                            {{ form.business_name(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.social_name.label(class="form-control-label") }}
                            {{ form.social_name(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.clinic_cep.label(class="form-control-label") }}
                            {{ form.clinic_cep(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.clinic_place.label(class="form-control-label") }}
                            {{ form.clinic_place(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.clinic_residence_address.label(class="form-control-label") }}
                            {{ form.clinic_residence_address(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.clinic_neighborhood.label(class="form-control-label") }}
                            {{ form.clinic_neighborhood(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.clinic_city.label(class="form-control-label") }}
                            {{ form.clinic_city(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.clinic_state.label(class="form-control-label") }}
                            {{ form.clinic_state(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.clinic_phone_1.label(class="form-control-label") }}
                            {{ form.clinic_phone_1(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.clinic_phone_2.label(class="form-control-label") }}
                            {{ form.clinic_phone_2(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.clinic_email.label(class="form-control-label") }}
                            {{ form.clinic_email(class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.cnpj.label(class="form-control-label") }}
                            {{ form.cnpj(class="form-control") }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.state_inscription.label(class="form-control-label") }}
                            {{ form.state_inscription(class="form-control") }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <br><br>
            <div class="form-group">
                <div class="form-group">
                    {{ form.submit(class="btn btn-info btn-block") }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
