{% extends "layout.html" %}
{% block content %}
<h1 class="page-header">Buscar especialista</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Selecionar uma especialidade</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label for="sel1">Selecione um especialista</label>
            <select class="form-control" id="selectSpecialy" name="selectSpecialty" onchange="this.form.submit()">
                <option value="0">Selecione uma especialidade...</option>
            </select>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Especialista disponíveis</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                 <div class="thumbnail">
                    <img src="{{ image_file }}" alt="User Picture">
                    <div class="caption">
                        <h3>João da Silva</h3>
                        <p>Especialista em neurologia</p>
                        <p> <a href="#" class="btn btn-success btn-block" role="button">Solicitar consulta</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ image_file }}" alt="User Picture">
                    <div class="caption">
                        <h3>José Souza</h3>
                        <p>Especialista em neurologia/cirurgia</p>
                        <p> <a href="#" class="btn btn-success btn-block" role="button">Solicitar consulta</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ image_file }}" alt="User Picture">
                    <div class="caption">
                        <h3>Maria dos Santos</h3>
                        <p>Especialista em neurologia</p>
                        <p> <a href="#" class="btn btn-success btn-block" role="button">Solicitar consulta</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
