{% extends "layout_specialist.html" %}
{% block content %}
<h1 class="page-header">Olá, {{ current_user.fullname.split(' ', 1)[0] }}! (PERFIL ESPECIALISTA)</h1>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Minhas chamadas</h3>
    </div>
    <div class="panel-body">
        <!--            INÍCIO DO CHAMADO -->
        <div class="row">
            <div class="col-md-1 text-center">
                <h6>Status</h6>
                <i class="fas fa-circle" style="color:lightgreen;"></i>
            </div>

            <div class="col-md-2 text-center">
                <h6>Data</h6>
                Agend.: 10/08/2018
                Solic.: 10/08/2018
            </div>

            <div class="col-md-1 text-center">
                <h6>Horário</h6>
                <p>20h50</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Especialidade</h6>
                <p>Nefrologia</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Paciente</h6>
                <p>Virgulino Pereira dos Santos</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Solicitante</h6>
                <p>Gen. Ítalo Fernandes</p>
            </div>

            <div class="col-md-2">
                <div class="btn-group btn-block">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editar <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("call") }}">Iniciar chamada</a></li>
                        <li><a href="#">Rejeitar solicitação</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <br><hr>
        <!--            FIM SOLICITACAO-->

        <!--            INCIO SOLICITAÇÃO-->
        <div class="row">
            <div class="col-md-1 text-center">
                <h6>Status</h6>
                <i class="fas fa-circle" style="color:red;"></i>
            </div>

            <div class="col-md-2 text-center">
                <h6>Data</h6>
                Agend.: 10/08/2018
                Solic.: 10/08/2018
            </div>

            <div class="col-md-1 text-center">
                <h6>Horário</h6>
                <p>20h50</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Especialidade</h6>
                <p>Nefrologia</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Paciente</h6>
                <p>Virgulino Pereira dos Santos</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Solicitante</h6>
                <p>Gen. Ítalo Fernandes</p>
            </div>

            <div class="col-md-2">
                <div class="btn-group btn-block">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editar <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("call") }}">Iniciar chamada</a></li>
                        <li><a href="#">Rejeitar solicitação</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <br><hr>
        <!--            FIM SOLICITACAO-->
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Histórico de chamados</h3>
    </div>
    <div class="panel-body">
        Vazio
    </div>
</div>

{% endblock content %}
