
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>TeleEspecialista</title>
    {% endif %}

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='mainLogged.css') }}" rel="stylesheet" type="text/css">

</head>
<style>
body{
    background-color: #F8F8F8;
    /* width: 100% !important; */
}
</style>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">TeleEspecialista</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('contact') }}">Contato</a></li>
                <li><a href="{{ url_for('about') }}">Sobre</a></li>
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="text-center alert alert-{{ category }}">
                {{ message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h3>Entrar</h3>
                </div>
                <div class="panel-body">
                    <form method="get" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            <div class="has-error">
                                {{ form.email(class="form-control has-error")}}
                                {% for error in form.email.errors %}
                                <strong class="help-block">{{ error }}</strong>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                            <div class="has-error">
                                {{ form.password(class="form-control has-error")}}
                                {% for error in form.password.errors %}
                                <strong class="help-block">{{ error }}</strong>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label>
                                {{ form.remember_me.label(class="checkbox") }}
                                {{ form.remember_me(class="checkbox") }}
                            </label>
                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-info btn-block") }}
                        </div>
                    </form>
                    <div class="form-group">
                        <small ><a href="#">Esqueci a senha</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
