{% extends "layout_specialist.html" %}
{% block content %}
<h1 class="page-header">Meus chamados</h1>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Minhas chamadas</h3>
    </div>
    <div class="panel-body">
        <!--            INÍCIO DO CHAMADO -->
        {% for consulta in current_user.consultas[::-1] %}
        <div class="row">
            <div class="col-md-1 text-center">
                <h6>Status</h6>
                {% if consulta.status == "Aguardando" %}
                <i class="fas fa-circle" style="color:yellow;"></i>
                {% elif consulta.status == "Confirmada" %}
                <i class="fas fa-circle" style="color:lightgreen;"></i>
                {% else %}
                <i class="fas fa-circle" style="color:red;"></i>
                {%endif%}
            </div>
            <div class="col-md-2 text-center">
                <h6>Data</h6>
                Agend.: {{ consulta.data_agendada.strftime('%d/%m/%Y') }}
                Solic.: {{ consulta.data_solicitacao.strftime('%d/%m%Y') }}
            </div>

            <div class="col-md-1 text-center">
                <h6>Horário</h6>
                <p>{{ consulta.data_agendada.strftime('%H:%M') }}</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Paciente</h6>
                <p>{{ consulta.nome_paciente }}</p>
            </div>


            <div class="col-md-2 text-center">
                <h6>Especialista</h6>
                <p>{{consulta.get_other_doctor(current_user).fullname}}</p>
            </div>

            <div class="col-md-2 text-center">
                <h6>Especialidade</h6>
                <p>{{consulta.get_other_doctor(current_user).specialties[0].specialty}}</p>
            </div>

            <div class="col-md-2">
                <div class="btn-group btn-block">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editar <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      {% if consulta.status == "Aguardando" %}
                        <li>
                          <a href="{{ url_for('update_appointment_status', appointment_id=consulta.id, appointment_status='Confirmada') }}">Aceitar solicitação</a
                        </li>
                        <li>
                          <a href="{{ url_for('update_appointment_status', appointment_id=consulta.id, appointment_status='Rejeitada') }}">Rejeitar solicitação</a>
                        </li>
                      {% elif consulta.status == "Confirmada" %}
                      <li>
                        <a href="{{ url_for('start_video_call', appointment_id=consulta.id) }}" >Iniciar chamada</a
                      </li>
                      <li>
                        <a href="{{ url_for('update_appointment_status', appointment_id=consulta.id, appointment_status='Rejeitada') }}">Rejeitar solicitação</a>
                      </li>
                      {% elif consulta.status == "Rejeitada" %}
                      <li>
                        <a href="{{ url_for('update_appointment_status', appointment_id=consulta.id, appointment_status='Confirmada') }}">Confirmar chamada</a
                      </li>
                      {% endif %}
                    </ul>
                </div>
            </div>

        </div>
        <br><hr>
        <!--            FIM SOLICITACAO-->
        {% endfor %}
        <br><hr>
        <!--            FIM SOLICITACAO-->
    </div>
</div>
<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Histórico de chamados</h3>
    </div>
    <div class="panel-body">
        Vazio
    </div>
</div> -->

{% endblock content %}
