{% if current_user.specialties[0].specialty == 'Geral' %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_specialist.html" %}
{% endif %}
{% block content %}

<h1 class="page-header">Quadro de colaboradores</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Colaboradores</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for u in users %}
            <div class="col-sm-6 col-md-4">
                <!-- depois passo isso pro styles.css -->
                <div class="thumbnail">

                <center>
                <img
                src="{{ url_for('static', filename='profilePics/' + u.image_file) }}"
                alt="User Picture"
                height= "250px"
                width= "250px"
                style="border-radius:1%">
                </center>
                <!-- depois passo isso pro styles.css -->
                <div class="caption">
                    <h3>{{ u.fullname }}</h3>
                    {% if u.specialties[0].specialty == 'Geral' %}
                    <p>Generalista</p>
                    {% else %}
                    <p>{{ u.specialties[0].specialty }}</p>
                    {% endif %}
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
